doctype html

html(lang="fr")
  head
    meta(charset="utf-8")/

    title Ma Super Jolie Carte de Visite de la Mort
    link(rel="stylesheet", href="assets/css/styles.css")/
  body 
    h1 Ma Super Carte de Visite qui Tue
    script(src="assets/js/script.js")
